@charset 'utf-8';

@import 'settings';
@import 'foundation';
@import 'motion-ui';

@include foundation-global-styles;
 //@include foundation-grid;
// @include foundation-flex-grid;
@include foundation-xy-grid-classes;
@include foundation-typography;
@include foundation-button;
@include foundation-forms;
// @include foundation-range-input;
@include foundation-accordion;
@include foundation-accordion-menu;
@include foundation-badge;
@include foundation-breadcrumbs;
@include foundation-button-group;
@include foundation-callout;
@include foundation-card;
@include foundation-close-button;
@include foundation-menu;
@include foundation-menu-icon;
@include foundation-drilldown-menu;
@include foundation-dropdown;
@include foundation-dropdown-menu;
@include foundation-responsive-embed;
@include foundation-label;
@include foundation-media-object;
@include foundation-off-canvas;
@include foundation-orbit;
@include foundation-pagination;
@include foundation-progress-bar;
@include foundation-slider;
@include foundation-sticky;
@include foundation-reveal;
@include foundation-switch;
//@include foundation-table;
@include foundation-tabs;
@include foundation-thumbnail;
@include foundation-title-bar;
@include foundation-tooltip;
@include foundation-top-bar;
@include foundation-visibility-classes;
// @include foundation-float-classes;
@include foundation-flex-classes;

// @include foundation-prototype-classes;

@include motion-ui-transitions;
@include motion-ui-animations;
 
 @font-face {
font-family: HelveticaNeueLTS;
  src: url(../fonts/HelveticaNeueLTStd-Bd.otf);
}

@font-face {
  font-family: MyriadPro;
  src: url(../fonts/MyriadPro-Regular.otf);
}

@font-face {
  font-family: AtApoc;
  src: url(../fonts/ATApocRevelationsItalic.otf);
}
 
ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}
*:focus {
	outline: none;
}
h1,h2,h3,h4,h5,h6 {
	padding: 0;
	margin: 0;
	font-family: 'Source Sans Pro', sans-serif;
}
p,a,body,html {
	font-family: 'Source Sans Pro', sans-serif;
}

body {
	background: #140404;
	background: -moz-linear-gradient(45deg, #140404 0%, #1c1c1c 50%, #000000 99%);
	background: -webkit-linear-gradient(45deg, #140404 0%,#1c1c1c 50%,#000000 99%);
	background: linear-gradient(45deg, #140404 0%,#1c1c1c 50%,#000000 99%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#140404', endColorstr='#000000',GradientType=1 );

	&.overflow {
		overflow: hidden;
	}
}
p {
    font-size: 16px;
    color: #949494;
    display: inline-block;
}
a {
	cursor: pointer;
}

.canvas-container {
	overflow: hidden;
	width: 100%;
	position: relative;
}
.off-canvas-menu {
	position: fixed;
	top: 0;
    left: 100%;
    height: auto;
    height: 100vh;
    overflow-y: scroll;
    z-index: 999;
    width: 100%;
    background: black;
    .off-canvas-inner {
    	position: relative;
    	padding-top: 40px;
    	.menu-main-menu-container {
    		width: 100%;
    	}
    	.close-canvas {
		    position: absolute;
		    top: 10px;
		    right: 10px;
		    font-size: 40px;
		    padding: 10px;
		    color: #fff;
		    transition: .3s all;
		    cursor: pointer;
		    &:hover {
		    	color: #8a8a8a;
		    }
    	}
    	.menu_item_wpglobus_menu_switch .sub-menu {
		    display: block;
		    margin: 0;
		}
    	ul {
    		width: 100%;
    		margin: 0;
    		li {
			    width: 100%;
   				text-align: center;
   				&.menu-item-has-children {
   					@include breakpoint (small only) {
						&>a {
						    background: rgba(45, 94, 158, .1);
						}
					}
   				}
   				a {
   					color: #fff;
					text-transform: uppercase;
					&:hover {
						color: #333;
					}
   				}
    		}
    	}
    }
    .logo {
	    text-align: center;
   		list-style-type: none;
   		a {
   			img {
   				max-width: 160px;
   				padding-bottom: 40px;
   			}
   		}
    }
}

.header-fix {
	height: 80px;
	display: inline-block;
	width: 100%;
	float: left;
}

.header {  
	/*padding: 10px 0;*/
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	background: transparent;
	transition: .3s all;
	z-index: 99;
	background: #6c7edb;
	background: -moz-linear-gradient(left,  #6c7edb 0%, #c450c0 50%, #ffcc70 100%);
	background: -webkit-linear-gradient(left,  #6c7edb 0%,#c450c0 50%,#ffcc70 100%);
	background: linear-gradient(to right,  #6c7edb 0%,#c450c0 50%,#ffcc70 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6c7edb', endColorstr='#ffcc70',GradientType=1 );
	&.active {
		top: -24px;
		@include breakpoint (small only) {
			top: 0;
		}
	}
	&.colored {
		background: #fff;
	}  
	.player-holder {
		height: 80px;
		display: flex;
		align-items: center;
		audio {
			max-width: 100%;
			width: 100%;
		}
	}
	.main-navigation {
		position: relative;
		.logo-container {
			float: left;
			.logo {
				float: left;
				width: 100%;
				padding: 10px 0;
				a {
					width: 100%;
					text-align: center;
					display: inline-block;
					img {
						display: inline-block;
						max-width: 80px;
						width: 80px;
						max-height: 60px;
						@include breakpoint (small only) {
							max-width: 80px;
						}
					}
				}
			}
		}
		.menu {
			display: inline-block;
			width: 100%;
			text-align: right;
			li {
				display: inline-block;
				position: relative;
				z-index: 3;
				padding: 10px 0px;
				&:hover {
					
				}
				
				a {
					font-size: 16px;
				    font-weight: bold;
				    color: #fff;
				    position: relative;
					padding: 0 12px;
					@include breakpoint( 1147px down){
						padding: 0 7px;
					}
    				line-height: 60px;
				    -webkit-transition: 0.3s all;
				    transition: 0.3s all; 
					&:hover {
						text-decoration: underline;
						color: #FDEFDF;
					}
				}
				
				
				&.menu-item-has-children {
				    position: relative;
    				z-index: 4;

					.sub-menu {
					    position: absolute;
					    background: #fff;
					    z-index: 99998;
					    left: -40%;
					    width: 100%;
					    height: 0px;
					    opacity: 0;
					    overflow: hidden;
					    transition: opacity 0.6s;
					    margin: 0;
					    li {
						    width: 100%;
						    text-align: center;
						    padding: 0;
						    /*border-bottom: 1px solid rgba(0, 0, 0, 0.1);*/
						    a {
							    line-height: 100%;
							    font-size: 15px;
							    color: #333;
						        padding: 10px 0;
							    margin: 0;
							    border-radius: 0;
							    background: #fff;
						        border: none;
							    border-bottom: 1px solid #333;
							    width: 100%;
							    text-align: center;
							    margin-bottom: 0;
							    &:hover {
								    background: #333;
								    color: #fff;
								    box-shadow: none;
								}
							}
							
						}
					}
					&:hover {
						.sub-menu {
						    display: inline-block;
						    top: 100%;
						    height: auto;
						    opacity: 1;
						    width: 180px;
						}
					}
				}	
			}
			.menu-item-46{
				a{
					padding-right: 0;
				}
			}
		}
		.menu-icon {
			&:after {
		        background: #fff;
    			box-shadow: 0 7px 0 #fff, 0 14px 0 #fff;
			}
		}
		.show-canvas {
		    position: absolute;
		    right: 10px;
		    top: 7px;
		    padding: 20px 10px;
		    display: inline-block;
		    cursor: pointer;
		    i {
		    	color: #fff;
		    	font-size: 24px;
		    	&:hover {
		    		color: #eee;
		    	}
		    }
		}
		.menu-item-9999999999 {
			position: relative;
			.sub-menu {
				position: absolute;
			    left: 15px;
			    top: 0;
			    display: block;
			}
			a {
			    display: inline-block;
    			padding: 0 !important;
				&:hover {
					background: transparent !important;
				}
			}
			&:hover {
				background: transparent;
				a {
					background: transparent;
				}
			}
		}
		@include breakpoint (small only) {
			.logo {
				a {
					img {
					    max-width: 120px;
					    padding: 10px 10px 0;
					}
				}
			}
			/*.show-canvas {
				top: 7px;
			}*/
		}
	}
	&.other {
		background: #333;
	}
}

section {
	display: inline-block;
	width: 100%;
}



.emisionet {
	padding: 40px 0 80px;
	@include breakpoint(medium down){
		padding-left: 60px!important;
		padding-right: 60px!important;
	}
	.single-emision-big-holder{
		width: 90%!important;
		@include breakpoint(small only){
			width: 100%!important;
		}
		img{
			margin: auto!important;
		}
	}
	.single-emision-holder {
		position: relative;
		display: inline-block;
		width: 100%;
		@include breakpoint(small only){
			padding: 10px 0;
		}
		img {
			width: 100%; 		
			object-fit: cover;
		}
		.overlay {
			width: 100%;
			height: 100%;
			position: absolute;
			left: 0;
			top: 0;
			z-index: 1;
			background: rgba(0,0,0,0.3);
			opacity: 0;
			transition: .3s all;
		}
		.title {
			position: static;
			margin: 10px 0;
			color: #fff;
			font-size: 22px;
			font-weight: bold;
			z-index: 2;
		}
		&:hover {
			.overlay {
				opacity: 1;
			}
		}
	}
	&.small {
		padding: 60px 70px;
		.single-emision-holder {
			margin-bottom: 30px;
		}
	}
}

.partners {
	.partner-container{
		display: flex;
		justify-content: space-between;
		@include breakpoint(small only){
			flex-direction: column;
		}
	}
	padding: 30px 0;
	.partner-holder {
		width: 100%;
		display: flex;
		height: 120px;
		justify-content: center;
		align-items: center;
		padding: 0 30px;
		img {
			max-height: 80px;
			@include breakpoint(small only){
				max-width: 100px;
			}
		}
	}
}

.media-coverage {
	background-image: url(../img/media-banner.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
	margin: 30px 0;
	padding: 0 70px;
	@include breakpoint(medium down){
		padding: 0px 10px;
	}
    .big-title {
    	color: #fff;
	    font-weight: bold;
		font-size: 100px;
	    text-transform: uppercase;
	    padding: 60px 0 25px;
		@include breakpoint (medium only){
			font-size: 60px;
			
		}
		@include breakpoint (small only){
			font-size: 35px;
		}
    }
    .content {
		height: 100%;
		
	    display: flex;
	    justify-content: center;
	    flex-direction: column;
	    width: 50%;
	    float: right;
		align-self: flex-end;
		@include breakpoint(small only){
			justify-content: flex-end;
			align-self: flex-start;
			height: auto;
		}
	    padding-bottom: 0px;
	    @include breakpoint (small only) {
	    	width: 100%;
	    	padding: 0 0 60px ;
	    }
	    p {
			color: #fff;
			text-align: left;
	    }
	    a {
			align-self: flex-end;
			@include breakpoint(small only){
				align-self: flex-start;
			}
		}
		
		&.home-content{
			justify-content: center;
			@include breakpoint(medium only){
				padding-top: 30px;
			}

		}
	}
	
    &.emision-intro {
    	background-color: transparent;
    	background-image: none;
		margin-top: 0; 
		position: relative;
    	.big-title {
		    font-size: 60px;
	        height: auto;
		    padding: 30px 0;
		    min-height: 0;
			line-height: 1.1;
		
			@include breakpoint (small only){
				font-size: 26px;
			}
		    span {
		    	font-size: 30px;
		    	font-family: 'AtApoc';
		    	display: inline-block;
				width: 100%;
				@include breakpoint(small only){
					font-size: 18px;
				}
		    }
    	}
    	.content {
    		position: static;
    		display: inline-block;
    		float: left;
    		.time-table {
    			width: 220px;
    			p {
					width: 100%;
					margin-bottom: 0;
					@include breakpoint(small only){
						width: 80%;
						font-size: 14px;
					}
    			}
    			strong,b {
    				float: right;
    			}
    		}
    	}
    	img {
    		width: 100%;
    		max-width: 230px;
			padding: 40px 0;
			@include breakpoint(small only){
				position: absolute;
				right: 45px;
				max-width: 125px;
				top: 0;
				bottom: 0;
				transform: translateY(30%);
			}
    	}
    }
}

.default-button {
	color: #fff;
	padding: 5px 15px;
	border: 1px solid #fff;
	font-size: 16px;
	display: inline-block; 
	transition: .3s all;
	cursor: pointer;
	&:hover {
		color: #0a0a0a;
		background: #fff;
	}
}

.mixes {
	
	.default-title{
		@include breakpoint(small only){
			padding-left: 10px;
		}
	}
	padding: 60px 0;
	@include breakpoint(large){
		padding: 60px 70px;
	}
	.author-box	{
		padding: 15px;
		background: #0a0a0a;
	    width: 100%;
	    height: 200px;
		overflow: hidden;
		.single-author-img-box{
			@include breakpoint(small only){
				img{
					margin: auto;
				}
			}
		}
		img {
			padding: 0 10px;
			max-height: 180px;
		}
		iframe {
			.soundHeader__rightRow {
				display: none !important;
			}
		}
		.single-mix {
			display: flex;
			flex-direction: column;
			justify-content: flex-end;
			height: 100%;
			.mix-name {
				font-weight: bold;
				color: #fff;
				line-height: 1.4;
				padding-bottom: 10px;
				span {
					font-weight: normal;
					display: inline-block;
					width: 100%;
				}
			}
			iframe {
				height: 60px;
			}
		}
	}
	.mixes-box {
		height: 180px;
		position: relative;
		padding-right: 60px;
		margin-top: 20px;
		.slick-list {
			overflow: hidden;
		}
		.single-mix-title {
			.wrapper {
				height: 60px;
				cursor: pointer;
				border: 1px solid transparent;
				transition: .3s all;
				span {
					display: inline-block;
					width: 100%;
					color: #fff;
				    padding: 0 10px;
				}
				.title {
				    font-weight: bold;
				    font-size: 20px;
				    line-height: 30px;
				}
				.author {
					color: #fff;
				}
				&:hover,&.slick-current {
					border-color: #fff;
				}
			}
		}
		.slick-arrow {
			position: absolute;
			z-index: 9;
			right: 0;
			top: 0;
			width: 40px;
			height: 40px;
			box-sizing: border-box;
			padding: 15px;
			color: #fff;
			line-height: 1;
			font-size: 0;
			display: inline;
			background-image: url(../img/up-arrow.svg);
			background-position: center center;
			background-repeat: no-repeat;
			background-size: 40px;
			cursor: pointer;
			transition: .3s all;
			opacity: 0.6;
			&:hover {
				transform: scale(1.1);
				opacity: 1;
			}
			&.slick-next {
				top: auto;
				bottom: 0;
				background-image: url(../img/down-arrow.svg);
			}
		}
	}
}

.our-works {
	padding: 50px 70px;
	@include breakpoint(small only){
		padding: 50px 20px;
	}
	.single-work {
		margin-bottom: 40px;
		&:last-child {
			margin-bottom: 0;
		}
		.work-content {
			height: 100%;
			display: flex;
			flex-direction: column;
			justify-content: center;
			a:hover{
					color: white!important;
					text-decoration: underline;
			}
			.title {
				font-size: 30px;
				text-transform: uppercase;
				color: #fff;
				font-weight: bold;
				margin-bottom: 30px;
			}
			p {
				width: 100%;
				max-width: 100%;
				color: #fff;
				font-size: 14px;
				margin-bottom: 20px;
			} 
			a {
				font-size: 20px;
			}
			.emision-page {
				iframe {
					height: 100px;
				}
			}
		}
	}
}

.episodet {
	padding: 60px 0 60px 70px;
	@include breakpoint(medium down){
		padding: 60px 10px;
	}
	.episode-slider {
		position: relative;
		padding-left: 60px;
		height: 340px;
		overflow: hidden;
		.single-episode {
			margin: 15px;
			iframe {
				height: 60px;
			}
			.title {
			    height: 60px;
			    padding-left: 30px;
			    color: #fff;
			    display: flex;
			    justify-content: center;
			    flex-direction: column;
			    font-size: 28px;
			    line-height: 30px;
			    font-weight: bold;
			}
		}
		.slick-arrow {
			position: absolute;
			z-index: 9;
			left: 0;
			top: 15px;
			width: 40px;
			height: 40px;
			box-sizing: border-box;
			padding: 15px;
			color: #fff;
			line-height: 1;
			font-size: 0;
			display: inline;
			background-image: url(../img/up-arrow.svg);
			background-position: center center;
			background-repeat: no-repeat;
			background-size: 40px;
			cursor: pointer;
			transition: .3s all;
			opacity: 0.6;
			&:hover {
				transform: scale(1.1);
				opacity: 1;
			}
			&.slick-next {
				top: auto;
				bottom: 15px;
				background-image: url(../img/down-arrow.svg);
			}
		}
	}
}


.section-banner {
	img {
		max-height: 400px;
		object-fit: cover;
		width: 100%;
	}
}

.post-content {
	padding: 30px 0 40px 0px;
	@include breakpoint(1500px down){
		padding: 30px 70px 60px;
	}
	@include breakpoint(medium down){
		padding: 30px 10px;
	}
	.title {
		font-size: 56px;
		color: #fff;
		font-weight: bold;
		margin-bottom: 30px;
		font-family: 'AtApoc';
		@include breakpoint(medium only){
			font-size: 42px;
		}
		@include breakpoint(small only){
			font-size: 34px;
		}
	}
	p {
		color: #Fff;
		width: 100%;
	}
	iframe {
		width: 100%;
		height: 470px;
		@include breakpoint (medium only){
				height: 350px;
		}
		@include breakpoint (small only){
				height: 300px;
		}
	}
}


.footer {

	.floating-socials{
		position: fixed;
		display: flex;
		flex-direction: column;
		transform: translateY(-50%);
		top: 50%;
		right:30px;

		@include breakpoint(1500px down){
			top: 25%;
			right: 5px;
			background-color: #000000;
			border-radius: 20px;
		}
		@include breakpoint(small only){
			top: 270px;
			right: 5px;
		}
		
		a{	
			margin: auto;
			color: #fff;
			padding: 10px;
			font-size: 25px;
			@include breakpoint(small only){
				padding: 5px;
				font-size: 20px;
			}
			@include breakpoint(1500px down){
				padding: 4px;
				font-size: 24px;
			}
			
		}
	}
	.copyright {
		width: 100%;
		color: #fff;
		padding: 20px 0;
		text-align: center;
		font-size: 15px;
		a {
			color: #fff;
			&:hover {
				color: #edc11c;
			}
		}
	}
	.footer-logo {
		img {
			max-height: 120px;
			padding: 10px 0;
		}
	}
	.footer-info {
		color: #fff;
		font-size: 15px;
		line-height: 22px;
		.footer-title {
			font-weight: bold;
			width: 100%;
			color: #fff;
			font-size: 16px;
			padding-bottom: 10px;
			padding-top: 10px;
		}
		p {
			padding-bottom: 5px;
			color: #fff;
		}
		a{
			color: #fff;
				   
				    transition: .3s all;
				    &:hover {
				    	color: #fff;
				    }
		}
		ul {
			display: flex;
			flex-direction: column;
			li {
				a {
					color: #fff;
				    padding: 5px 0;
				    transition: .3s all;
				    &:hover {
				    	color: #fff;
				    }
				}
			}
		}
	}
	.socials {
		width: 100%;
		display: inline-block;
		a {
			color: #fff;
			padding: 10px;
			font-size: 20px;
			&:first-child {
				padding-left: 0;
			}
		}
	}
}

.contact-us {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background: black;
	// background: -moz-linear-gradient(-45deg, #082728 0%, #000000 52%, #000000 52%, #082728 100%);
	// background: -webkit-linear-gradient(-45deg, #082728 0%,#000000 52%,#000000 52%,#082728 100%);
	// background: linear-gradient(135deg, #082728 0%,#000000 52%,#000000 52%,#082728 100%);
	// filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#082728', endColorstr='#082728',GradientType=1 );
	margin: 30px 0;
	margin-bottom: 0;
    padding-bottom: 30px;
    .big-title {
    	color: #fff;
	    font-weight: bold;
		font-size: 80px;
		@include breakpoint(small down){
			font-size: 35px;
		}
	    text-align: center;
	    text-transform: uppercase;
	    padding: 60px 0;
    }

    form {
    	.nf-form-fields-required {
    		color: #fff;
    	}
    	.nf-field-label {
			label {
				color: #fff;
			}
    	}
    	input[type="text"], input[type="email"], textarea {
    		background: transparent;
    		color: #fff;
    		&:focus {
    			background: transparent;
    		}
    	}
    	input[type="button"] {
    		color: #fff;
			padding: 5px 15px;
			border: 1px solid #fff;
			font-size: 16px;
			display: inline-block; 
			transition: .3s all;
			cursor: pointer;
			height: auto;
			background: transparent;
			&:hover {
				color: #0a0a0a;
				background: #fff;
			}
    	}
    }
}

.footer-wrapper{
	padding-top: 30px;
	background: #6c7edb;
	background: -moz-linear-gradient(left,  #6c7edb 0%, #c450c0 50%, #ffcc70 100%);
	background: -webkit-linear-gradient(left,  #6c7edb 0%,#c450c0 50%,#ffcc70 100%);
	background: linear-gradient(to right,  #6c7edb 0%,#c450c0 50%,#ffcc70 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6c7edb', endColorstr='#ffcc70',GradientType=1 );
}
.triangle {
	position: fixed;
	left: 15%;
	bottom: 20%;
	z-index: -1;
	width: 200px;
	animation: move1 infinite ease-in-out 15s alternate;
	@include breakpoint(small only){
		width: 100px;
	}
}

.circle {
	position: fixed;
	right: 10%;
	top: 10%;
	z-index: -1;
	width: 120px;
	animation: move3 infinite ease-in-out 30s alternate;
	@include breakpoint(small only){
		width: 60px;
	}
}

.square {
	position: fixed;
	left: 45%;
	top: 20%;
	z-index: -1;
	width: 240px;
	animation: move2 infinite ease-in-out 20s alternate;
	@include breakpoint(small only){
		width: 120px;
	}
}


@keyframes move1 {
	0% {
		transform: translate(200px, -200px) rotate(0deg);
	}
	30% {
		transform: translate(150px, -100px) rotate(50deg);
	}
	80% {
		transform: translate(0px, -50px) rotate(100deg);
	}
}

@keyframes move2 {
	0% {
		transform: translate(150px, -100px) rotate(50deg);
	}
	30% {
		transform: translate(0px, -50px) rotate(100deg);
	}
	80% {
		transform: translate(200px, -200px) rotate(0deg);
	}
}

@keyframes move3 {
	0% {
		transform: translate(0px, 0px);
	}
	30% {
		transform: translate(40px, 200px);
	}
	80% {
		transform: translate(-40px, 400px);
	}
	100% {
		transform: translate(-40px, 800px);
	}
}

.default-title {
	font-size: 56px;
    color: #fff;
    font-weight: bold;
    margin-bottom: 30px;
	font-family: 'AtApoc';
	
	@include breakpoint(small only){
		font-size: 30px;
	}
}
.main-slider {
	
	padding: 100px 0;
	@include breakpoint(small only){
		padding: 50px 0;
	}
	.slider-wrapper	{
	width: 80%;
	margin: auto;
	background-color: #000000;
	// border:1px solid white;
	// border-radius: 20px;
	.media-coverage{
		padding-left: 10px;
		padding-right: 60px;
		position: relative;
		margin-bottom: 0;
		@include breakpoint(small down){
			padding: 5px 5px;
		}
		img{
			max-width: 100%!important;
			padding: 0!important;
			@include breakpoint(small only){
				position: unset;
				right: 0px;
				max-width: 130px;
				top: 0;
				bottom: 0;
				transform: translateY(0);
			}
		}
		// .emision-intro{
			
		// }
		.default-button{
			display: none;
			position: absolute;
			right: 5%;	
			top: 85%;
			z-index: 99;
		}	
	}
	
	.slider-img-box{
		padding: 10px 0 7px !important;
		img{
			width: 100%;
		}
	}
	.slider-content{
		position: relative;
		.slider-text{
			height: 100%;
			overflow: hidden;
			.big-title{
				padding-left: 10px;
				font-size: 40px;
				@include breakpoint(1150px down){
					font-size: 30px;
				}
				a{
					color: white!important;
					&:hover{
						color: white!important;
						text-decoration: underline;
					}
				}
				
			}
			.content{
				width: 100%;
				padding-left: 20px;
				// height: 200px;
				padding-bottom: 0;
				position: relative;
				.time-table{
					position: absolute;
					width: 100%;
					// height: 75%;
					strong{
						float: unset!important;
					}
					
				}
			}
			
		}
		
	}
	
		.slick-dots {
		    position: absolute;
			bottom: -45px;
			
		    left:0;
		    width: 100%;
		    // transform: translateX(-50%);
			z-index: 1;
			display: flex;
			li:nth-child(1){
				margin-left: auto;
			}
			li:nth-last-child(1){
				margin-right: auto;
			}
		    li {
		    	float: left;
		    	width: 16px;
		    	height: 16px;
		    	border-radius: 50%;
		    	border: 2px solid #fff;
		    	background: transparent;
		    	font-size: 0;
		    	margin: 10px;
				transition: .3s all;
				@include breakpoint(small only){
					margin: 8px;
				}
		    	button {
		    		font-size: 0;
		    	}
		    	&:hover,&.slick-active {
		    		background: #fff;
		    	}
		    }
		}
		.slick-arrow {
			position: absolute;
			z-index: 9;
			left: -60px;
			top: calc(50% - 20px);
			width: 40px;
			height: 40px;
			box-sizing: border-box;
			padding: 15px;
			color: #fff;
			line-height: 1;
			font-size: 0;
			display: inline;
			background-image: url(../img/left-arrow.svg);
			background-position: center center;
			background-repeat: no-repeat;
			background-size: 40px;
			cursor: pointer;
			transition: .3s all;
			opacity: 0.6;
			@include breakpoint(small only){
				left: -40px;
				width: 30px;
				height: 30px;
			}
			&:hover {
				transform: scale(1.1);
				opacity: 1;
			}
			&.slick-next {
				right: -60px;
				left: auto;
				background-image: url(../img/right-arrow.svg);
				@include breakpoint(small only){
					right: -40px;
				}
			}
		}
	}
}

.program-schedule{
	display: grid;
	grid-template-columns: auto auto auto auto;
	img{
		padding: 10px;
	}

	@include breakpoint(medium only){
		grid-template-columns: auto auto;
	}
	@include breakpoint(small only){
		grid-template-columns: auto;
		img{
			padding: 10px 0;
		}
		
	}
}









































