<div class="forge-story-timeline">

	<h3>Forge Building Company History: Over a decade of business</h3>
	Founded in 2007 and headquartered in Boise, Idaho, Forge Building Company was created after its founders, Hamish and Hayden, spent decades working in the steel-structure industry. Using their expertise in storage and focusing on the three pillars of buildings, designing, and erecting, led the company to a more diverse portfolio and stronger relations across the U.S.

	Today, the company offers steel buildings for self-storage, RV & boat storage, car washes, airplane hangars, large warehouses, fish hatcheries, and craft breweries/restaurants. Other offerings include pre-engineered metal buildings for industrial and commercial applications.

	With a strong portfolio of partners and clients, the Forge team has completed over 500+ jobs. built over 50 million square feet, has over 200+ employees, and remains privately owned. 

	<hr />

	<div class="timeline-content clearfix">
		
		<div class="timeline-years">
			<a href="#year-1" class="year-item">1990</a>
			<a href="#year-2" class="year-item">2001</a>
			<a href="#year-3" class="year-item">2007</a>
		</div>

		<div class="timeline-items">
			<div class="timeline-item clearfix" id="year-1">
				<div class="timeline-item-images">
					<img src="https://forgebuildings.com/wp-content/uploads/2021/03/forge-building-team-1990.jpg">
					<img src="https://forgebuildings.com/wp-content/uploads/2021/03/glen-farrell.jpg">
				</div>
				<div class="timeline-item-content">
					<h4>1990's</h4>
					As young boys in Papakura New Zealand, Hamish Bell and Hayden Farrell found themselves on the same under 19 rugby team. Hayden with a strong silent attack and Hamish with fast wit and skills, the two of them knew right away they were great teammates. There were many wins celebrated at the local rugby club. and in time. the legendary FORGE club.

					After finishing school Hayden headed back to the U.S. to work with his dad Glen Farrell (“King of Storage”) at his installation company. He then recruited Hamish to join them building storage units and travelling throughout the U.S.
				</div>
			</div>
			<hr />
			<div class="timeline-item clearfix" id="year-2">
				<div class="timeline-item-images">
					<img src="https://forgebuildings.com/wp-content/uploads/2021/03/hayden-and-hamish.jpg">
				</div>
				<div class="timeline-item-content">
					<h4>2001</h4>
					<p>Hayden and Hamish found themselves on a job in Boise, Idaho. They quickly joined the Lions Rugby team where they again were teammates and fell in love with the city, the people, and the quality of life. In time, they both settled down, started families, and now called Boise home.</p>
				</div>
			</div>
			<hr />
			<div class="timeline-item clearfix" id="year-3">
				<div class="timeline-item-images">
					<img src="https://forgebuildings.com/wp-content/uploads/2021/03/hamish.jpg">
					<img src="https://forgebuildings.com/wp-content/uploads/2021/03/hayden.jpg">
				</div>
				<div class="timeline-item-content">
					<h4>2007</h4>
					<p>After over a decade of working as foremen and independent contractors, Hamish and Hayden saw the potential to become a full-house steel service, founding Forge Building Company. By using their expertise in storage and focusing on the three pillars of buildings, designing, and erecting led them to a more diverse portfolio and stronger relations across the U.S.</p>
				</div>
			</div>
		</div>

	</div>

</div>

<style>
html {
  scroll-behavior: smooth;
}
.clearfix:after {
	content: "";
	clear: both;
	display: table;
}
.forge-story-timeline p {
	font-weight: 400;
	margin: 0;
}
.forge-story-timeline hr {
	margin: 30px 0;
}
.timeline-content .timeline-years {
	float: left;
	width: 10%;
	height: 70vh;
	margin-right: 20px;
	padding: 10px 5px;
	background: #f1f1f1;
	text-align: center;
	font-family: 'industry-inc-base';
}
.timeline-content .timeline-years a {
	display: block;
	padding: 5px 0;
	font-size: 20px;
	color: #000;
}
.timeline-content .timeline-years br {
	display: none;
}
.timeline-content .timeline-years a:hover {
	color: #189417;
}
.timeline-content .timeline-items {
	float: left;
	width: calc(90% - 20px);
	padding-left: 20px;
	position: relative;
}
.timeline-content .timeline-items:after {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	width: 1px;
	height: 100%;
	background: #189417;
}
.timeline-content .timeline-item-images {
	float: left;
	width: 30%;
	position: relative;
}
.timeline-content .timeline-item-images:after {
	content: '';
	position: absolute;
	left: -24px;
	top: 0;
	width: 9px;
	height: 9px;
	border-radius: 50px;
	background: #189417;
}
.timeline-content .timeline-item-images img {
	margin-bottom: 20px;
}
.timeline-content .timeline-item-images img:last-child {
	margin-bottom: 0;
}
.timeline-content .timeline-item-content {
	float: left;
	width: calc(70% - 20px);
	padding-left: 20px;
}
@media only screen and (max-width: 640px) {
	.timeline-content .timeline-years {
		display: none;
	}
	.timeline-content .timeline-items {
		padding-left: 0;
	}
	.timeline-content .timeline-items .timeline-item {
		display: flex;
		flex-wrap: wrap;
        flex-direction: row;
	}
	.timeline-content .timeline-item-content {
		order: -1;
		flex: 1 0 100%;
	}
	.timeline-content .timeline-items:after {
		display: none;
	}
	.timeline-content .timeline-item-images:after {
		display: none;
	}
}
</style>